{% extends 'student_base.html.twig' %}

{% block title %}Hello RazdelController!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/wrapper.css') }}">

    <style>
        .search {
            display: flex;
        }

        .search-input {
            width: 100%;
        }
    </style>

    <div class="container" style="margin-top: 20px">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_razdel_new') }}" class="btn btn-warning">Новый раздел</a>
            <a href="{{ path('admin_lection_new') }}" class="btn btn-warning">Новая лекция</a>
            <hr>
        {% endif %}

        {{ form_start(formSearch) }}
        <div class="search">
            <div class="search-input">
                {{ form_widget(formSearch.query, {
                    'attr': {
                        'placeholder': 'Поиск по лекциям',
                    }
                }) }}
            </div>
            <div class="search-submit">
                {{ form_widget(formSearch.submit) }}
            </div>
            <div class="clear-search">
                <a href="{{ path('razdel') }}" class="btn btn-outline-dark">Очистить</a>
            </div>
        </div>
        {{ form_end(formSearch) }}


        {% if foundLections%}
            <h2 style="margin: 20px">Найденные лекции:</h2>
            <hr>
            {% for lection in foundLections %}
                <div class="wrapper">
                    <a href="{{ path('razdel_lection_info', {'id': lection.razdel.id, 'lectId': lection.id}) }}" style="width: 70%">
                        {{ lection.name }}
                    </a>
                    <a href="{{ path('razdel_lections', {'id': lection.razdel.id}) }}" style="width: auto">{{ lection.razdel.name}}</a>
                </div>
            {% endfor %}
        {% else %}
            <h2 style="margin: 20px">Разделы:</h2>
            <hr>
            {% for razdel in razdels %}
                <div class="wrapper">
                    <a href="{{ path('razdel_lections', {'id': razdel.id}) }}" style="width: 100%">{{ razdel.name }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>



{% endblock %}
