{% extends 'base.html.twig' %}

{% block title %}Hello RazdelController!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/wrapper.css') }}">

    <style>
        .name {
            width: 70%;
        }

        .header {
            margin-top: 20px;
            display: flex;
        }

         .pagination {
             width: 100%;
             text-align: center;
         }

        .search {
            display: flex;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .search-input {
            width: 100%;
        }
    </style>

    <div class="container">

        {% if is_granted('ROLE_ADMIN') %}
            <div class="header">
                <a href="{{ path('admin_razdel_edit', {'id': razdel.id}) }}" class="btn btn-warning" style="margin-right: 15px">Изменить название раздела</a>
                <a href="{{ path('admin_lection_new') }}" class="btn btn-warning" style="margin-right: 15px">Добавить лекцию</a>
                <a href="{{ path('admin_razdel_delete', {'id': razdel.id}) }}" class="btn btn-danger">Удалить раздел</a>
            </div>
            <hr>

        {% endif %}
        <h3 style="margin-top: 30px">Раздел: {{ razdel.name }}</h3>
        {{ form_start(formSearch) }}
        <div class="search">
            <div class="search-input">
                {{ form_widget(formSearch.query, {
                    'attr': {
                        'placeholder': 'Поиск по лекциям',
                    }
                }) }}
            </div>
            <div class="search-submit">
                {{ form_widget(formSearch.submit) }}
            </div>
            <div class="clear-search">
                <a href="{{ path('razdel_lections', {'id': razdel.id}) }}" class="btn btn-outline-dark">Очистить</a>
            </div>
        </div>
        {{ form_end(formSearch) }}
        <hr>

            {% for lection in lections %}
                <div class="wrapper">
                        <a href="{{ path('razdel_lection_info', {'lectId': lection.id, 'id': razdel.id}) }}" class="name">{{ lection.name }}</a>
                    <div class="isComplete">
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if lection.isComplete %}
                                <a href="{{ path('admin_lection_change', {'id': lection.id}) }}">Прошли</a>
                            {% else %}
                                <a href="{{ path('admin_lection_change', {'id': lection.id}) }}">Не прошли</a>
                            {% endif %}
                        {% else %}
                            {% if lection.isComplete %}
                                Прошли
                            {% else %}
                                Не прошли
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        <div class="pagination">
            {{ knp_pagination_render(lections) }}
        </div>


    </div>

{% endblock %}
