{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="container">
        <div class="question-block">
            <div>
                <div>
                    {{ form_row(form.name) }}
                </div>

                <div class="answers-block">
                    <ul class="list-group">
                        <ul id="type-fields-list" class="list-group"
                            data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}"
                            data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
                            data-widget-counter="{{ form.answers|length }}">
                            {% for answer in form.answers %}
                                <li class="list-group-item">
                                    {{ form_errors(answer) }}
                                    {{ form_widget(answer) }}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="add-answer-block">
                            <button type="button"
                                    class="add-another-collection-widget btn btn-info"
                                    data-list-selector="#type-fields-list">Add answer
                            </button>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="submit-block">
            {{ form_widget(form.submit, {
                'attr': {'class': 'btn btn-success'},
            }) }}
            <a href="{{ path('admin_students') }}" class="btn btn-outline-dark">Back</a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
