{% extends 'teacher_base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <style>
        .container > div {
            margin: 30px;
            display: block;
            text-align: center;
        }

        .container > div > a {
            display: block;
            padding: 10px;
        }

    </style>

    <div class="container">
        <div>
            <a href="{{ path('admin_lection_new') }}" class="btn btn-warning">Добавить лекцию</a>
        </div>
        <div>
            <a href="{{ path('admin_lab_new') }}" class="btn btn-warning">Добавить лабораторную</a>
        </div>
        <div>
            <a href="{{ path('admin_razdel_new') }}" class="btn btn-warning">Добавить новый раздел</a>
        </div>
        <div>
            <a href="{{ path('admin_lab_complete') }}" class="btn btn-warning">Засчитать лабораторную</a>
        </div>
        <div>
            <a href="{{ path('student_account_password-edit') }}" class="btn btn-warning">Изменить пароль</a>
        </div>
    </div>
{% endblock %}
