{% extends 'base.html.twig' %}

{% block title %}Тест {{ test.name }}{% endblock %}

{% block body %}


    <style>
        .test-end {
            color: green;
        }

        .test-not-end {
            color: red;
        }

        .pagination {
            width: 100%;
            text-align: center;
        }

    </style>

<div class="container">



    <div>
        <p>Тест: {{ test.name }}</p>
    </div>

    <div>
        <p>Прохождение теста:</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Учащийся</th>
                <th scope="col">{{ knp_pagination_sortable(testResults, 'Начало', ['tr.startDate']) }}</th>
                <th scope="col">{{ knp_pagination_sortable(testResults, 'Окончание', ['tr.endDate']) }}</th>
                <th scope="col">{{ knp_pagination_sortable(testResults, 'Результат', ['tr.result']) }}</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>

            <tbody>
            {% for testRes in testResults %}
                <tr>
                    <td>
                        <a href="{{ path('admin_stats_student', {'id': testRes.students.id}) }}"> {{ testRes.students.fullName }}</a>
                    </td>
                    <td>
                        {{ testRes.startDate.format('d.m.Y H:i:s') }}
                    </td>
                    <td>
                        {% if testRes.endDate %}
                            {{ testRes.endDate.format('d.m.Y H:i:s') }}
                        {% else %}
                            ...
                        {% endif %}
                    </td>
                    <td>{{ ((testRes.correctQuestions * 10)/(testRes.tests.testQuestions.count))|round(2, 'ceil') }}</td>
                    <td>
                        {% if not testRes.endDate %}
                            <p class="test-not-end">Не завершен</p>
                        {% else %}
                            <p class="test-end">Завершен</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(testResults) }}
    </div>
</div>

{% endblock %}
