{% extends 'teacher_base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="container">
        <div class="buttons-header">
            <a href="{{ path('admin_questions_new') }}" class="btn btn-primary">Новый вопрос</a>
        </div>
        <div class="question-block">
            <div>
                <div>
                    {{ form_row(form.name, {
                        'label': false,
                        'attr': {'class': 'form-control',
                            'placeholder': 'Тест',
                        }
                    }) }}
                </div>
                <div class="add-answer-block">
                    <button type="button"
                            class="add-another-collection-widget btn btn-primary"
                            data-list-selector="#type-fields-list">Добавить вопрос
                    </button>
                </div>
                <div class="answers-block col-md-6">
                    <ul class="list-group">
                        <ul id="type-fields-list" class="list-group"
                            data-prototype="{{ form_widget(form.testQuestions.vars.prototype)|e('html_attr') }}"
                            data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
                            data-widget-counter="{{ form.testQuestions|length }}">
                            {% for question in form.testQuestions %}
                                <li class="list-group-item">
                                    {{ form_errors(question) }}
                                    {{ form_widget(question) }}
                                </li>
                            {% endfor %}
                        </ul>


                    </ul>
                </div>
            </div>
        </div>

        <div class="submit-block">
            {{ form_widget(form.submit, {
                'label': 'Сохранить',
                'attr': {'class': 'btn btn-primary'},
            }) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
