{% extends 'base.html.twig' %}

{% block title %}Идет тест {{ testRes.tests.name }}{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="{{ asset('js/game.js') }}"></script>

    <script>
        $('input[type=checkbox]').each(function() {
            this.checked = false;
        });
    </script>

{% endblock %}

{% block body %}

    <style>
        .answer {
            display: flex;
        }

        .answer-text {
            width: 100%;
        }
    </style>
    <div class="container">
        {{ form_start(form, {
            'action': path('student_test_passing',{'testResId': testRes.id}),
            'attr':{novalidate:'novalidate'},
        }) }}
        <div class="container question-text" style="margin: 20px">
            {{ form_widget(form.name, {
                'label': 'Вопрос',
                'attr': {'class': 'form-control shadow-none',
                    'autocomplete': 'off',
                    'readonly': true,
                }
            }) }}
        </div>
        <div class="row">
            <div class="answers col-md-6" style="margin: 20px">
                {% for answer in form.answers %}
                    <div class="answer">
                        <div class="answer-isCorrect">
                            {{ form_row(answer.isCorrect, {
                                'attr': {'checked': true}
                            }) }}
                        </div>
                        <div class="answer-text">
                            {{ form_row(answer.name, {
                                'attr': {'class': 'form-control shadow-none',
                                    'readonly': true,
                                }
                            }) }}
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="result">
                <span id="result" class="font-weight-light"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <input type="button" id="send" value="Ответить" style="margin: 20px" class="btn btn-warning">
{#        <a href="{{ path('student_test_passing',{'testResId': testRes.id}) }}" id="next" class="btn btn-primary">Next >></a>#}
{#        <input type="submit" value="Nextt" class="btn btn-primary">#}
    </div>

    {{ form_widget(form.submit, {
        'attr': {
            'hidden': true,
        }
    }) }}

    <div class="container">
        <input type="hidden" id="game_id" value="{{ testRes.id }}">
{#        <input type="hidden" id="question_id" value="{{ question.id }}">#}
    </div>

    {{ form_end(form) }}

{% endblock %}
