{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <div class="test-results">
        <h2>Тест {{ testResult.tests.name }} завершен</h2>
        <hr>
        <h3>Начало теста: {{ testResult.startDate.format('H.m.Y h:i:s') }}</h3>
        <h3>Конец теста: {{ testResult.endDate.format('H.m.Y h:i:s') }}</h3>
        <hr>
        <h3>Всего вопросов: {{ testResult.tests.testQuestions.count }}</h3>
        <h3>Правильных ответов: {{ testResult.correctQuestions }}</h3>
        <h3>Отметка не оч: {{ testResult.result }}</h3>
        <h3>Отметка в твиге: {{ (testResult.correctQuestions * 10) / (testResult.tests.testQuestions.count) }}</h3>

        <br>
        <br>
        <br>

        questions amount: {{ testResult.tests.testQuestions.count }}
        correct questions: {{ testResult.correctQuestions }}
    </div>
{% endblock %}
