{% extends 'student_base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <style>
        .container > div {
            margin: 20px;
        }
    </style>

    <div class="container">
        <div>
            <h2>Тест <i>{{ testResult.tests.name }}</i> пройден</h2>
        </div>
        <div>
            <h3>Начало теста: {{ testResult.startDate.format('d.m.Y H:i:s') }}</h3>
            <h3>Конец теста: {{ testResult.endDate.format('d.m.Y H:i:s') }}</h3>
        </div>
        <div>
            <h3>Всего вопросов: {{ testResult.tests.testQuestions.count }}</h3>
            <h3>Правильных ответов: {{ testResult.correctQuestions }}</h3>
        </div>
        <div>
            <h2>Результат: {{ (testResult.correctQuestions * 10) / (testResult.tests.testQuestions.count) }}</h2>
        </div>
        <div>
            <a href="{{ path('student_test') }}" class="btn btn-primary">Все тесты</a>
        </div>
    </div>
{% endblock %}
