{% extends 'student_base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/wrapper.css') }}">

    <style>
        .search {
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .search-input {
            width: 100%;
        }
    </style>

    <div class="container">
        {{ form_start(formSearch) }}
        <div class="search">
            <div class="search-input">
                {{ form_widget(formSearch.query, {
                    'attr': {
                        'placeholder': 'Поиск по тестам',
                    }
                }) }}
            </div>
            <div class="search-submit">
                {{ form_widget(formSearch.submit) }}
            </div>
            <div class="clear-search">
                <a href="{{ path('student_test') }}" class="btn btn-outline-dark">Очистить</a>
            </div>
        </div>
        {{ form_end(formSearch) }}

            {% for test in tests %}
                <div class="wrapper">
                    <a href="{{ path('student_test_pass', {'id': test.id}) }}" style="width: 70%">{{ test.name }}</a>
                    <a href="{{ path('student_test_pass', {'id': test.id}) }}" style="width: 30%">Пройти тест</a>
                    </td>
                </div>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(tests) }}
        </div>
    </div>
{% endblock %}
