{% extends 'teacher_base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <style>
        .pagination {
            width: 100%;
            text-align: center;
        }
    </style>

    <div class="container" style="margin-top: 20px">
        <a href="{{ path('admin_students_new') }}">Добавить студента</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(users, 'ФИО', ['s.fullName']) }}</th>
                <th scope="col">Группа</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.roles[0] != 'ROLE_ADMIN' %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_stats_student', {'id': user.id}) }}">
                                {{ user.fullName }}
                            </a>
                        </td>
                        <td>
                            {{ user.groups.name }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {{ knp_pagination_render(users) }}
        </div>
    </div>


{% endblock %}
