{% extends 'base.html.twig' %}

{% block title %}Hello LectionController!{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="container">
        <div class="question-block">
            <div>
                <div>
                    {{ form_row(form.name) }}
                </div>

                <div>
                    {{ form_row(form.videoLink) }}
                </div>

                <div>
                    {{ form_row(form.razdel) }}
                </div>


            </div>
        </div>
        <div class="add-answer-block">
            <button type="button"
                    class="add-another-collection-widget btn btn-outline-primary"
                    data-list-selector="#type-fields-list">Добавить материал
            </button>
        </div>
        <div class="answers-block col-6">
            <ul class="list-group">
                <ul id="type-fields-list" class="list-group"
                    data-prototype="{{ form_widget(form.materials.vars.prototype)|e('html_attr') }}"
                    data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
                    data-widget-counter="{{ form.materials|length }}">
                    {% for material in form.materials %}
                        <li class="list-group-item">
                            {{ form_errors(material) }}
                            {{ form_widget(material) }}
                        </li>
                    {% endfor %}
                </ul>


            </ul>
        </div>

        <div class="submit-block">
            {{ form_widget(form.submit, {
                'attr': {
                    'class': 'btn btn-warning',
                }
            }) }}
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}
